services:
  backend:
    platform: linux/amd64
    build: .
    container_name: license-tool-backend
    ports:
      - "8000:8000"
    environment:
      - SCANCODE_BIN=scancode
      - PYTHONDONTWRITEBYTECODE=1
      - CLONE_BASE_DIR=/app/data
      - OUTPUT_BASE_DIR=/app/data/json
      - MINIMAL_JSON_BASE_DIR=/app/data/json/Minimal
      - OLLAMA_CODING_MODEL=qwen3-coder:480b-cloud
      - OLLAMA_GENERAL_MODEL=deepseek-v3.1:671b-cloud
      - OLLAMA_URL=http://127.0.0.1:11434/api/generate
      - OLLAMA_HOST_VERSION=http://127.0.0.1:11434/api/version
      - OLLAMA_HOST_TAGS=http://127.0.0.1:11434/api/tags