fastapi~=0.121.1
uvicorn[standard]
gitpython~=3.1.45
python-dotenv~=1.2.1
requests~=2.32.5
license-expression
pydantic~=2.12.4

app~=0.0.1
httpx~=0.28.1
pymongo~=4.15.4
cryptography~=46.0.3
dotenv~=0.9.9

pytest~=9.0.1
pytest-cov~=7.0.0
pytest-mock~=3.15.1

python-multipart~=0.0.20